@import 'variables.css';
@import 'common.css';
/* @import 'variables.css'; */


/****************** HEADER ************************/

header > div {
    height: 60px;
}

header > div > div {
    width: 60px;
}

header > div > form {
    width: calc(100% - 120px);
}

header img {
    width: 3.125rem
}

header h1 {
    color: #001632;
}

header ul li,
header button {
    margin: 0 8px;
}

header i {
    color: #5b5858;
}

header .fa-bell {
    color: #ff8f00;
}

header button {
    background-color: transparent;
    border: 0;
}

header .ms-search {
    background-color: #e5e5e5;
    color: #282c2f;
    border: none;
}

header .ms-search:focus {
    background-color: #e5e5e5;
    box-shadow: none;
}

header .ms-search-i {
    border: none;
    background-color: #e5e5e5;
}

/****************** ASIDE ************************/

aside {
    width: 65px;
    background: url(../img/sidebar-bg.png);
    background-color: var(--aside-bg-color);
    color: var(--primary-color);
}

aside > div {
    height: 100%;
}

aside .ms-aside-top > li,
aside .ms-aside-bottom > li {
    padding: 0.6rem;
}

aside i {
    font-size: 1.2rem;
}

aside span {
    font-size: 0.9rem;
}

aside li:hover,
aside .ms-aside-bottom:hover {
    cursor: pointer;
    background-color: var(--aside-hover-color);
}

/****************** MAIN ************************/

main {
    width: calc(100% - 65px);
    overflow-y: auto;
}

/*** main header ***/

.main-header {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.main-header .ms-left span {
    background-color: #165bba;
}

.main-header .ms-left span:hover {
    cursor: pointer;
}


.main-header .ms-right {
    order: 1;
}

.main-header .ms-left {
    order: 2;
    padding: 25px 0;
}

.main-header .ms-center {
    order: 3;
}

/*** offcanvas toggle and content ***/

.ms-offcanvas-btn {
    background-color: transparent;
    color: var(--primary-color);
    font-size: 1.3rem;
    border: 1px solid var(--primary-color);
    padding: 4px 14px;
    border-radius: 10px;
}

.ms-offcanvas-btn:hover {
    background-color: var(--primary-color);
    color: #000;
}

.offcanvas.offcanvas-end {
    width: 100%;
}

/*** main table ***/

table .ms-big-col {
    width: 50%;
}

.ms-avatar {
    border-radius: 50%;
    width: 30px;
}

.ms-align > img,
.ms-align span {
    vertical-align: middle;
}

.ms-table-btn {
    background-color: transparent;
    color: #5b5858;
    border: 1px solid #5b5858;
    border-radius: 5px;
    padding: 5px 8px;
}

tbody tr:hover {
    background-color: lightgray;
}

table button {
    margin-bottom: 4px;
}

/**** main stats ****/

.stats-link > a {
    text-decoration: underline;
    color: #4d95fe;
}

.stats-list > li {
    padding: .5rem 0;
}

.stats-list > li:nth-of-type(1) {
    border-top: 1px solid #dee2e6;
}

.stats-list > li:not(.stats-link) {
    border-bottom: 1px solid #dee2e6;
}

/****************** MEDIA QUERIES ************************/


@media screen and (min-width: 768px) {

    table button {
        margin-bottom: 0;
    }

}

@media screen and (min-width: 992px) {

    aside {
        width: 140px;
    }

    aside i {
        font-size: 1.1rem;
        margin-right: 0.755rem;
    }

    aside .fa-chart-simple {
        margin-right: 0.975rem;
    }

    main {
        width: calc(100% - 140px);
    }

    header > div > div {
        width: 130px;
    }
    
    header > div > form {
        width: calc(98% - 260px);
    }

    .main-header .ms-right,
    .main-header .ms-left,
    .main-header .ms-center {
        order: 0;
    }

    .offcanvas.offcanvas-end {
        width: 50%;
    }

    .main-header .ms-left {
        padding: 0;
    } 

    table .ms-big-col {
        width: 40%;
    }

}